@page "/AgregarNuevoUsuario/{usuario}"
@inject Radzen.DialogService dialogService

<h3>Agregar Nuevo Usuario @usuario.Id</h3>
<h3>Nombre Usuario @usuario.Nombre</h3>
<h3>Nombre AP @usuario.ApellidoPaterno</h3>
<h3>Nombre AM @usuario.ApellidoMaterno</h3>
<h3>Nombre EsActivo @usuario.EsActivo</h3>

@code {

}
